.container {
    width: 85% !important;
}

#app-header {
    margin-top: 3rem;
    padding: 3rem 0 1rem 0;
    position: relative;
}

#app-logo {
    opacity: 0.1;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
}

#explorer-request, #explorer-response {
    margin: 3rem 0 3rem 0;
    padding: 2.25rem  3.5rem 3rem 2.25rem;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}

#explorer-url-heading, #explorer-response-heading {
    margin-top: 0px;
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: capitalize;
}

#app-introduction {
    font-size: 20px;
}

#explorer-description, #app-introduction {
    margin-bottom: none;
    font-weight: 300;
}

#explorer-base-url {
    font-size: 1.8rem;
}

#explorer-url {
    font-size: 1.25rem;
    font-weight: 300;
    word-break: break-all;
}

#explorer-method {
    font-size: 1.5rem;
    font-weight: 600;
    color: #00e988;
}

#explorer-url-section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eeeeee;
}

#explorer-body-heading {
    font-size: 2rem;
    font-weight: 500;
}

#explorer-body input {
    margin-bottom: 2rem;
}

#explorer-body label {
    text-transform: capitalize;
    font-size: 1rem;
}

#required-star {
    font-size: 1.5rem;
    color: #ef5350;
}

/* label underline focus color */
input:focus {
    border-bottom: 1px solid #00e988 !important;
    box-shadow: 0 1px 0 0 #00e988 !important;
}

#send-request-btn {
    background-color: #ffffff;
    border: 1px solid #00e988;
    box-shadow: none;
    color: #00e988;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    width: 175px;
    height: 50px;
}

#send-request-btn:hover {
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    background-color: #00e988;
    color: #ffffff;

}

#explorer-response-intro {
    font-weight: 300;
    font-size: 14px;
    max-width: 70%;
    margin: 0 auto;
    word-break: break-all;
}

#explorer-response-statuses .col div {
    color: #dfdddd;
    border: 0.5px solid #dfdddd;
    height: 3rem;
    line-height: 3rem;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in-out;
}

#explorer-response-statuses .col .success {
    border: 1px solid #00e988;
    color: #00e988;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}

#explorer-response-statuses .col .pending {
    border: 1px solid #ffea00;
    color: #ffea00;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}

#explorer-response-statuses .col .failed {
    border: 1px solid #ef5350;
    color: #ef5350;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}

#errors {
    color: #ef5350;
    font-weight: 600;
    font-size: 20px;
}

.explorer-response-JSON {
    text-align: left;
}

.explorer-response-JSON-string {
    margin-left: 35px;
    text-align: left;
}

#explorer-response-data {
    word-break: break-all;
    display: none;
}

@media (max-width: 993px) {
    #explorer-response-statuses .col div {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    #send-request-btn {
        width: 100%;
    }

    #explorer-request, #explorer-response {
        margin: 1.5rem 0 1.5rem 0;
        padding: 2rem;

    }

    #app-header {
        padding: 1.5rem 0 1.5rem 0;
        position: relative;
    }
}